<!DOCTYPE html>
<html lang="en" ng-app='chart'>
<head>
	<meta charset="UTF-8">
	<title>Basic Chart</title>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">

	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/highcharts/highcharts.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/ng-lodash/build/ng-lodash.min.js"></script>
</head>
<body>
	<div class="container" ng-controller='chartController'>
		<div class="row">
			<div class="col-md-6">
				<line-chart xaxis='xaxis' seriesdata='seriesdata'></line-chart>
				{{xaxis}}
				{{seriesdata}}
			</div>
			<div class="col-md-6">
				<bar-chart options='pieOptions'></bar-chart>
			</div>
		</div>
	</div>

	<script src="ext-modules/chart/chartModule.js"></script>
	<script src="ext-modules/chart/chartController.js"></script>
	<script src="ext-modules/chart/lineChartDirective.js"></script>
	<script src="ext-modules/chart/barChartDirective.js"></script>
	<script src="ext-modules/chart/chartDataService.js"></script>
</body>
</html>
